// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#showMap {
    width: 600px;
    height: 400px;
}

#indexMap {
    width: 600px;
    height: 400px;
}

#createMap {
    width: 600px;
    height: 400px;
}