<p>
    <strong>Tite:</strong>
    <%= @place.title %>
</p>

<p>
    <strong>Text:</strong>
    <%= @place.text %>
</p>    

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>